@use "@/scss/base/variables.scss" as *;
@use "@/scss/base/mixins.scss" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  @include mobile-only {
    padding: 10px 10px;
  }
}
.containerCards {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  @include tablet-and-desktop {
    grid-column-gap: 15px;
    grid-row-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
  }
  @include desktop-only {
    grid-column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
  }
}
