@import "@/scss/base/variables.scss";

.menuWrapper {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0s 0.3s;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

.menuWrapper.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-out;
}

.container {
  position: relative;
  width: 200px;
  height: 330px;
  background-color: $primary-blue;
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.container.active {
  transform: translateX(0);
}

.closeButton {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.closeIcon {
  color: $primary-white;
}

.itemNavLink {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
}

.navLink {
  text-decoration: none;
  color: $primary-white;
  font-size: 18px;
}

.navLink:hover {
  color: $primary-white;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-top: 25px;
}

.icon {
  width: 35px;
  height: 35px;
  fill: $primary-white;
  cursor: pointer;
}

.icon:hover {
  color: #007bff;
}
.textDeliveryLink{
  margin-top: 15px;
  text-align: center;
}
