@import "@/scss/base/variables.scss";
@import "@/scss/base/mixins.scss";
@import "@/scss/base/fonts.scss";

.custom-select {
  &__control {
    display: flex;
    width: 130px;
    justify-content: center;
    align-items: center;
    border-radius: 10px !important;
    background-color: $primary-blue !important;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 10px;
    @include tablet-only {
      width: 250px; 
    }
  }
  &__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-white !important;
    font-family: "NunitoSans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }

  &__single-value {
    color: $primary-white !important;
    font-family: "NunitoSans";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }

  &__indicator-separator {
    display: none;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    max-height: 350px;
    padding: 10px 10px 10px 10px;
    border-radius: 2px !important;
    border: 1px solid $primary-blue !important;
    margin-top: 5px;
  }
}

.custom-select__option {
  font-family: "NunitoSans";
  font-size: 12px !important;
  font-weight: 500;
  line-height: 15px;
  background-color: transparent !important;
  color: $primary-blue !important;

  &:hover,
  &:active,
  &:focus {
    background-color: $primary-blue !important;
    color: $primary-white !important;
  }

  &--is-selected,
  &--is-selected:hover,
  &--is-selected:active,
  &--is-selected:focus {
    background-color: $primary-blue !important;
    color: $primary-white !important;
  }
}

// Стилі для веб-браузерів на основі Webkit (Chrome, Safari)
.custom-select__menu-list::-webkit-scrollbar {
  width: 1px !important; // ширина вертикального скролбара
}

.custom-select__menu-list::-webkit-scrollbar-thumb {
  background-color: $primary-blue; // колір "тумби" скролбара
  border-radius: 4px; // закруглення кутів
}

.custom-select__menu-list::-webkit-scrollbar-thumb:hover {
  background-color: #555; // колір "тумби" при наведенні
}

// Стилі для Firefox
.custom-select__menu-list {
  scrollbar-width: thin; // товщина скролбара
  scrollbar-color: #888 #f5f5f5; // колір "тумби" та треку
}
