@use "@/scss/base/variables.scss" as *;
@use "@/scss/base/mixins.scss" as *;
.swiper {
  width: 100;
  height: auto;
}
.swiper-wrapper{
    align-items: center;
  }
.swiper-slide {
  @include tablet-only {
    img {
  
    }
  }
}

@media (max-width: 833px) {
  .swiper-slide img {
  }
}

@media (min-width: 1200px) {
  .swiper-slide img {
  }
}
