@font-face {
    font-family: 'MinionPro';
    src: url('@/assets/fonts/Minion/MinionPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('@/assets/fonts/NunitoSans/NunitoSans_7pt-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}