@use "./variables" as *;
html {
  scroll-behavior: smooth;
}

body {
  font-family: $default-font;
  background-color: $primary-white;
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
  }
  padding: 0;
}
