@use "./variables" as *;

body {
  font-family: $default-font;
  background-color: rgba(234, 237, 202, 0.44);
  color: rgb(0, 0, 0);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
  }
}
