body {
  font-family: MessinaSansMono-Regular, RightGrotesk, BiroScriptPlus, Roboto,
    sans-serif;
  background-color: rgba(234, 237, 202, 0.44);
  color: rgb(0, 0, 0);
  
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  background-color: transparent;
  border: none;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
  }
}

