// font
$font-regular: 'Poppins', sans-serif;

// colors
$primary-gray: grey;
$primary-white: #f5f6f6;
$primary-dark: #020303;
$primary-blue: blue;

// breakpoints
$breakpoint-mobile: 320px;
$breakpoint-tablet: 834px;
$breakpoint-desktop: 1440px;

//timing function
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-default: all 0.5s $timing-function;
$transform-default: scale(1.1);