// font
$default-font: 'MinionPro', sans-serif;

// colors
$primary-gray: #aab0b8;
$primary-white: #ffffff;
$primary-dark: #020303;
$primary-blue: #1E2F44;
$background-overlay: rgba(0, 0, 0, 0.5);
$primary-blue-categorise: #3d5570;
$primary-baig: #e5dad4;


// breakpoints
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

//timing function
$cubic-brauser: cubic-bezier(0.4, 0, 0.2, 1);
$transform-default: scale(1.1);