.ContainerForTitle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 25px;
  background-color: #0000ef47;
  border-radius: 5px;

  margin-bottom: 25px;
}
.grupCategories {
  margin-bottom: 25px;
  .listCategories:not(:last-child) {
    margin-bottom: 10px;
  }
}

.containerCategorizer {
  display: flex;
  padding: 20px 34px;
  max-width: 1440px;
  margin: auto;
}
