@use "@/scss/base/variables.scss" as *;
@use "@/scss/base/mixins.scss" as *;
@use "@/scss/base/fonts.scss";

.btnBascket {
  font-family: "NunitoSans";
  font-size: 12px;
  font-weight: 300;
  color: $primary-blue-categorise;
  margin: auto;
  padding: 5px 0;
  margin-bottom: 15px;
  border: 0.1px solid $primary-blue;
  border-radius: 5px;
  width: 90%;
  transition: transform 0.25s ease;
  &.active {
    background-color: $primary-blue;
    color: $primary-white;
  }
  &:hover {
    transform: scale(1.05);
  }
  @include no-hover-mobile(transform, none);
}
