@use "@/scss/base/variables.scss" as *;
@use "@/scss/base/mixins.scss" as *;
@use "@/scss/base/fonts.scss" as *;


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
 
  .iconWithStar{
   
    fill: $primary-blue;
  }
  .title {
    font-family: MinionPro;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: $primary-blue;
    margin-bottom: 20px;
    @include mobile-only {
      font-size: 20px;
    }
  }

  .historyItems {
    font-family: NunitoSans;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: $primary-blue;
    @include mobile-only {
     width: 270px;
    }

  }
}