@import "@/scss/base/variables.scss";
@import "@/scss/base/mixins.scss";
@import "@/scss/base/fonts.scss";

.container {
  max-width: 1440px;
  padding: 10px 10px 34px;
  @include desktop-only {
    margin: auto;
  }
}
.containerMission {
  background-color: $primary-blue;
  color: $primary-white;
  border-radius: 25px 25px 30px 30px;
  width: 100%;
  @include tablet-and-desktop {
    border-radius: 60px;
  }
  .title {
    text-transform: uppercase;
    font-family: MinionPro;
    font-size: 30px;
    margin-bottom: 15px;
    @include desktop-only {
      font-size: 50px;
    }
  }
  .text {
    font-family: "NunitoSans";
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
    text-align: start;
    width: 100%;
  }
}
.listMission {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  @include tablet-and-desktop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    padding: 40px 40px 50px;
    width: 100%;
    margin: auto;
  }
  // @include desktop-only {
  //   grid-template-columns: 1fr 1fr;
  //   grid-template-rows: 1fr 1fr;
  //   gap: 20px 20px;
  // }
  .elemMission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include desktop-only {
      width: 100%;
      height: 700px;
    }
    @include tablet-only {
      aspect-ratio: 1 / 1.2;
    }
  }
  .elemMission:nth-child(2) {
    @include mobile-only {
      padding: 25px;
    }
  }
  .elemMission:nth-child(3) {
    @include mobile-only {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      background-color: $primary-baig;
      color: $primary-blue;
      padding: 25px;
    }

    @include tablet-and-desktop {
      background-color: transparent;
      color: $primary-white;
    }
  }

  .elemMission:nth-child(3n + 1) {
    border-radius: 60px;
    background-color: $primary-baig;
    @include mobile-only {
      display: none;
    }
  }

  .textMission {
    @include tablet-and-desktop {
      font-size: 12px;
      line-height: 15px;
      width: 250px;
      text-align: center;
    }
    @include desktop-only {
      width: 310px;
    }
  }

  .iconMission {
    color: black;
  }
}
// // \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\history\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.containerHistory {
  text-align: center;
  background-color: $primary-baig;
  color: $primary-white;
  @include tablet-and-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    color: $primary-blue;
    padding: 40px 40px 50px;
  }
}
.wrapperHistory {
  padding: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  @include mobile-only {
    background-color: $primary-blue;
    padding: 25px;
  }
}
.textStoryAllYear {
  font-family: "NunitoSans";
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  margin-top: 15px;
}
.iconHistory {
  display: none;
  @include tablet-and-desktop {
    display: block;
    width: 400px;
    height: 500px;
    border-radius: 25px;
    background-color: $primary-blue;
  }
}
//  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\Delivery\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.containerDelivery {
  text-align: center;
  background-color: $primary-baig;
  color: $primary-blue;
  @include mobile-only {
    padding: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .wrapperDelivery {
    @include tablet-and-desktop {
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
      background-color: $primary-blue;
      padding: 40px 40px 50px;

      color: $primary-white;
    }
  }
}

.listDelivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .elemDelivery {
    width: 100%;
    max-width: 640px;
    padding: 25px;
    background-color: $primary-white;
    border-radius: 25px;
    text-align: start;
    @include tablet-and-desktop {
      color: $primary-blue;
    }
  }

  .subtitle {
    font-family: "NunitoSans";
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }

  .textDelivery {
    text-align: center;
  }
}
/////////////////////////////////////////////////////////////////////  Reviews ///////////////////////////////////////////////////
.containerReviews {
  text-align: center;
  background-color: $primary-baig;
  color: $primary-white;
  @include tablet-and-desktop {
    padding: 40px 40px 50px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    color: $primary-blue;
  }
}
.wrapperReviews {
  @include mobile-only {
    padding: 25px;
    background-color: $primary-blue;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}

.listReviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @include mobile-only {
    flex-direction: column;
  }

  .elemReview {
    width: 300px;
    height: 350px;
    background-color: $primary-blue;
    color: $primary-white;
    border-radius: 15px;
    @include mobile-only {
      background-color: $primary-white;
      width: 210px;
      height: 270px;
    }
  }
}
////////////////////////////////////////////////////////////////////// contacts //////////////////////////////////////////////////

.containerContacts {
  text-align: center;
  background-color: $primary-baig;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  @include mobile-only {
    padding: 40px 40px 50px;
    color: $primary-blue;
    border-radius: 25px;
    padding: 25px 25px 150px 25px;
  }
  .wrapperContacts {
    @include tablet-and-desktop {
      background-color: $primary-blue;
      padding: 40px 40px 350px;
      border-radius: 60px;
    }
  }
}
