@import "@/scss/base/variables.scss";
@import "@/scss/base/mixins.scss";

.container {
  max-width: 1440px;
  padding: 20px 34px 0;
  margin: auto;
}

// .wraper {

// }
.containerMission {
  background-color: $primary-blue;
  color: $primary-white;
  padding: 20px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  width: 100%;
  height: 1650px;
}
.listMission {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  flex-wrap: wrap;
  .title {
    text-transform: uppercase;
    font-family: MinionPro;
    font-size: 50px;
    margin-bottom: 15px;
  }
  .textMission {
    width: 310px;
    text-align: center;
  }
  .elemMission {
    width: 640px;
    height: 735px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .elemMission:nth-child(3n + 1) {
    border-radius: 60px;
    background-color: $primary-white;
  }
  .iconMission {
    color: black;
  }
}
// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\history\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.possitionHistory {
  transform: translate(0, -100px);
}

.containerHistory {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-baig;
  color: $primary-white;
  padding: 90px 20px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  width: 100%;
  height: 1800px;
  .wrapperHistory {
    max-width: 1075px;
  }

  .title {
    text-transform: uppercase;
    font-family: MinionPro;
    font-size: 60px;
    text-align: center;
    color: $primary-blue;
    margin-bottom: 90px;
  }
  .textStory {
    margin: 0 auto;
    font-size: 30px;
    text-align: justify;

    color: $primary-blue;
    margin-bottom: 50px;
  }
  .textStoryAllYear {
    font-weight: 900;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    color: $primary-blue;
    margin-bottom: 50px;
  }
  .iconHistory {
    height: 900px;
    border-radius: 25px;

    background-color: $primary-blue;
  }
}
// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\Delivery\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.possitionDeliveryAndPayment{
  transform: translate(0, -175px);
  .wrapperDeliveryAndPayment{
    max-width: 1075px;
  }
}

.containerDeliveryAndPayment {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-blue;
  color: $primary-white;
  padding: 90px 20px;
  border-radius: 60px;
  width: 100%;
  height: 1870px;

  .title {
    text-transform: uppercase;
    font-family: MinionPro;
    font-size: 60px;
    text-align: center;
    margin-bottom: 90px;
    
  }
  .titleDescription{
    font-family: MinionPro;
    font-size: 43px;
    text-align: center;
    margin-bottom: 90px;
  }
  .text{
    font-size: 30px;
    text-align: justify;
    color: $primary-white;
    margin-bottom: 90px;
  }
  
.listReviews{
  display: flex;
  gap: 20px;

  .itemReviews{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: $primary-baig;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    .textReviews{
      font-size: 50px;
      text-align: center;
      color: $primary-blue;
      font-weight: bold;
    }
  }
}


}