@import "@/scss/base/variables.scss";
@import "@/scss/base/mixins.scss";
@import "@/scss/base/fonts.scss";

.heroContainer {
  position: relative;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 45px 36px;
  @include tablet-only {
    width: 834px;
  }

  @include mobile-only {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;

  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 690px;
  height: 650px;
  border-radius: 15px;
  background-color: $primary-blue;
  color: $primary-white;
  z-index: 100;

  @include tablet-only {
    width: 385px;
    height: 500px;
  }
  @include mobile-only {
    display: none;
  }
}

.logo {
  fill: $primary-white;
  width: 441px;
  height: 60px;
  margin-bottom: 25px;
  @include tablet-only {
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
  }

  @include mobile-only {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 40px;
    margin-bottom: 15px;
    z-index: 1000;
  }
}

.description {
  font-family: "NunitoSans";
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
  max-width: 441px;
  text-align: justify;
  @include tablet-only {
    font-size: 12px;
    line-height: 12px;
    max-width: 300px;
  }
  @include mobile-only {
    display: none;
  }
}

.imageHero {
  position: absolute;
  right: 36px;
  width: 690px;
  height: 650px;
  border-radius: 15px;
  @include tablet-only {
    width: 385px;
    height: 500px;
    image-rendering: pixelated;
  }
  @include mobile-only {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    right: auto;
    margin-bottom: 25px;
  }
}

.titleStore {
  position: absolute;
  font-size: 100px;
  top: 80px;
  left: 5%;
  color: $primary-white;
  @include tablet-only {
    font-size: 55px;
    top: 70px;
    left: 7%;
  }
}

.containerFavorite {
  padding: 20px;
  margin: 25px auto;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .emptyWishlist {
      font-family: NunitoSans;
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      color: $primary-blue;
    }
  }
}
.wrapFavorite {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px !important;
}
.YourFavoIcon {
  width: 700px;
  height: 80px;
  fill: $primary-blue;
  margin-bottom: 90px;
  @include mobile-only {
    width: 300px;
    height: 80px;
  }
}
