@import "@/scss/base/variables.scss";
@import "@/scss/base/mixins.scss";
@import "@/scss/base/fonts.scss";

.heroContainer {
  position: relative;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 45px 36px;

  @include mobile-only {
    flex-direction: column-reverse;
    padding: 10px 20px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 650px;
  border-radius: 15px;
  background-color: $primary-blue;
  color: $primary-white;
  z-index: 100;
  @include mobile-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }
  @include tablet-only {
    margin-right: 15px;
  }

}

.logo {
  fill: $primary-white;
  width: 441px;
 height: 60px;
  margin-bottom: 25px;
}
.title {
  text-align: center;
  margin-bottom: 15px;
  color: $primary-blue;
}
.description {
  font-family: "NunitoSans";
  max-width: 441px;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
}

.imageHero {
  position: absolute;
  right: 0;
  width: 720px;
  height: 650px;
  border-radius: 15px;
  
  @include mobile-and-tablet {
    width: clamp(260px, 50vw, 720px);
    height: clamp(260px, 50vw, 720px);
  }
}
.logoTitle {
  font-size: clamp(20px, 3vw, 25px);
  color: $primary-blue;

  @include tablet-only {
    font-size: clamp(10px, 3vw, 50px);
  }
  @include desktop-only {
    position: absolute;
    font-size: 100px;
    top: 80px;
    left: 5%;
    color: $primary-white;
  }
}

.containerFavorite {
  padding: 20px;
  margin: 25px auto;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .emptyWishlist {
      font-family: NunitoSans;
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      color: $primary-blue;
    }
  }
}
.wrapFavorite {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px !important;
}
.YourFavoIcon {
  width: 700px;
  height: 80px;
  fill: $primary-blue;
  margin-bottom: 90px;
  @include mobile-only {
    width: 300px;
    height: 80px;
  }
}
