.heder {
  
  display: flex;
  flex-wrap: wrap;
  height: 160px;
  .copirated {
    margin-right: 50px;
    writing-mode: vertical-rl; /* Текст вертикально, зправа наліво */
    text-orientation: upright; /* Вирівнювання символів вертикально */
  }

  .grupList {
    display: flex;
    .list:not(:last-child) {
      margin-right: 10px;
    }
  }
  .search {
    width: 450px;
    height: 25px;
    margin-top: 5px;
    border-radius: 5px;
  }
}


