@import "@/scss/base/variables.scss";
@import "@/scss/base/mixins.scss";
@import "@/scss/base/fonts.scss";


.header {
  position: relative;
  flex-shrink: 0;
  background-color: $primary-blue;
  height: 100px;
  @include desktop-only {
    height: 90px;
  }

  &.searchActive {
    .logoBon,
    .buttonBurger,
    .wrapSocialUser {
      @include mobile-only {
        display: none;
      }
    }
  }

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 36px;
    max-width: 1440px;
    @include mobile-only {
      padding: 0 20px;
      gap: 5px;
    }
    @include tablet-only {
      padding: 0 25px;
    }
  }

    .logo {
      width: 155px;
      height: 21px;
      fill: $primary-white;
      @include mobile-only {
        width: 50px;
      }
    }
    .logoBon{
      width: 46px;
      height: 21px;
      fill: $primary-white;
    }

  .navigation {
    display: flex;
    align-items: center;
    color: $primary-white;
    font-size: 15px;

    .listNavigation {
      font-family: "NunitoSans";
      font-weight: 200;
      font-size: 12px;
      margin-right: 15px;
      &:not(:last-child) {
        margin-right: 22px;
      }

      .navLink {
        text-decoration: none;
        color: $primary-white;

        &.active {
          font-weight: 900;
         
        }
      }
    }
    @include tablet-only {
      font-size: clamp(5px, 3vw, 15px);
    }
    @include mobile-only {
      display: none;
    }
  }

  .searchContainer {
    position: relative;
    .search {
      width: 408px;
      height: 25px;
      padding-left: 25px;
      margin-top: 5px;
      border-radius: 5px;
      border: 1px solid $primary-white;
      color: $primary-white;
      background-color: inherit;
      @include mobile-only {
        width: clamp(50px, 35vw, 800px);
        margin-top: 0px;
        height: 36px;
        padding-right: 35px;
        border-radius: 28px;
        margin-right: auto;
      }

      &::placeholder {
        font-family: "NunitoSans";
        font-weight: 200;
        font-size: 11px;
        color: $primary-white;
        text-transform: uppercase;

      }
    }
    .wrapIconSearch {
      position: absolute;
      top: 9px;
      left: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
    

      @include mobile-only {
        left: auto;
        top: 3px;
        background-color: $primary-white;
        width: 30px;
        height: 30px;
        right: 3px;
      }

      .searchIcon {
        color: $primary-white;
        @include mobile-only {
          color: $primary-blue;
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  nav {
    &:focus-within {
      @include mobile-only {
        display: flex;
        align-items: center;
        flex: 1;
        .searchContainer {
          flex: 1;
          transition: all 0.3s ease;

          .search {
            width: 100%;
            transition: width 0.3s ease;
          }
        }
      }
    }
  }

  .wrapSocialUser {
    display: flex;
    gap: 80px;
    @include mobile-only {
      gap: clamp(
        5px,
        calc(5px + (80 - 5) * ((100vw - 320px) / (1920 - 320))),
        120px
      );
    }

    .socialLinks {
      display: none;
      @include desktop-only {
        display: flex;
        gap: 10px;
      }
    }

    .iconNav {
      width: 21px;
      height: 21px;
      fill: $primary-white;
      @include mobile-only {
        width: 25px;
        height: 25px;
      }
    }
    //     .iconHeartWidth{
    //   width: 26px;
    //   height: 26px;
    // }
    .userActions {
      display: flex;
      gap: 10px;
      @include mobile-only {
        gap: 5px;
      }

      .wrapIcon {
        position: relative;

        .totalFavorite {
          position: absolute;
          top: -5px;
          right: -5px;
          background: red;
          color: #fff;
          font-size: 12px;
          border-radius: 50%;
          padding: 2px 6px;
          min-width: 18px;
          text-align: center;
          line-height: 1;
        }
      }
    }
  }
}
.buttonBurger {
  display: none;

  @include mobile-and-tablet {
    display: flex;
    align-items: center;
  }
  .burgerIcon {
    width: 25px;
    height: 25px;
    fill: white;
  }
}
