@use "@/scss/base/variables.scss" as *;
@use "@/scss/base/mixins.scss" as *;
@use "@/scss/base/fonts.scss";

.footer {
  flex-shrink: 0;
  background-color: $primary-blue;
  color: $primary-white;
  .containerFooter {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 36px;
    max-width: 1440px;
    height: 150px;
    @include tablet-and-desktop {
      flex-direction: row;
    }
  }
  .logoFootert {
    width: 90px;
    height: 90px;
    fill: $primary-white;
    @include tablet-and-desktop {
      width: 150px;
      height: 150px;
    }
  }

  .iconWrap {
    display: flex;
    flex-direction: row;
    gap: 10px;

    @include tablet-and-desktop {
      margin-bottom: 15px;
    }
    .iconNav {
      width: 25px;
      height: 25px;
      fill: $primary-white;
      :not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  .navList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    .listItem a {
      color: $primary-white;
      font-family: "NunitoSans";
      font-weight: 300;
      font-size: 13px;
     
    }
  }
}
