.containerCard {
  width: 270px;
  .containerImg {
    position: relative;
    .iconHeard {
      width: 25px;
      height: 25px;
      color: rgb(245, 247, 250);
    }
  }
  .catalogImg {
    width: 270px;
    border-radius: 5px;
  }
}

.buttonHeard {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: transparent;
  border: transparent;
}

.item {
  margin-top: 15px;
  .itemDetails {
    display: flex;
    justify-content: space-between;
  }
}
