@import "@/scss/base/variables.scss";

.iconHeart {
  fill: transparent; // Прозоре серце в неактивному стані
  stroke: $primary-white; // Білий контур
  stroke-width: 2; // Товщина контуру
  transition: transform 0.25s ease, fill 0.25s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.buttonHeartActive {
  fill: $primary-blue; // Заповнене серце при активному стані
  stroke: none; // Вимикаємо білий контур
}
