@import "@/scss/base/variables.scss";

.iconHeart {
  fill: transparent; 
 color: $primary-white; 
  
  transition: transform 0.25s ease, fill 0.25s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.buttonHeartActive {
  fill: $primary-blue; 
   color: $primary-blue;

}
